<!DOCTYPE html >
    <html lang="en">
        <%- include('../partials/head.ejs') %>
        <body>
            <%- include('../partials/nav.ejs') %>
            <h2 class="my-header">ALL BOOKS</h2>
            <div class="books-container">
            <div class="book-div">
    <% if (data.length > 0) { %>
        <% data.forEach(data => { %>
        <a class="single-book-link" href="/books/<%= data.book_id %>">
            <img src="<%= data.image %>" class="book-image">
            <h3 class="book-title"><%= data.title %></h3>
            <% author.forEach(author => { %>
                <% if (data.author_id === author.author_id) { %>
                <p class="book-details"><b><%= author.first_name %> <%= author.last_name %></b></p>
        <%}%>
        <% }) %>
                <% genre.forEach(genre => { %>
                    <% if (data.genre_id === genre.genre_id) { %>
                    <p class="book-details">Genre: <%= genre.name %></p>
            <%}%>
            <% }) %>
            <p class="book-details">Sidor: <%= data.pages %></p>
            <p class="book-details">Rating: <%= data.rating %></p>
        </a>
        <% }) %>
    <% }%>
</div>
</div>
        </body>
    </html >
