<!DOCTYPE html >
    <html lang="en">
        <%- include('../partials/head.ejs') %>
        <body>
            <%- include('../partials/nav.ejs') %>
            <h2 class="my-header">DETAILS</h2>
            <div class="single-book-div">
        <% data.forEach(data => { %>
            <% if (data.book_id === Number(id)) { %>
                <div id="image-div">
                <img class="single-book-image" src="http://localhost:3001/<%= data.image %>" alt="staderskan">
            </div>
            <div id="title-div">
                <h1 class="single-book-title"><%= data.title %></h1>
            </div>
            <div id="description-div">
                <p class="single-book-details"><%= data.description %></p>
            </div>
            <div id="details-div">
                <% author.forEach(author => { %>
                    <% if (data.author_id === author.author_id) { %>
                    <h3 class="single-book-details"><b><%= author.name %></b></h3>
            <%}%>
            <% }) %>
                <% genre.forEach(genre => { %>
                    <% if (data.genre_id === genre.genre_id) { %>
                    <p class="single-book-details">Genre: <%= genre.name %></p>
            <%}%>
            <% }) %>
                <p class="single-book-details">Sidor: <%= data.pages %></p>
                <p class="single-book-details">Rating: <b><%= data.rating %></b></p>
            </div>

        <%}%>
        <% }) %>
</div>
        </body>
    </html >
