<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/hero.ejs') %>
    <div id="resultContainer"></div>
<div class="books-container">
        <% book.forEach(book => { %>
            <% i = 0; %>
        <a class="single-book-link" href="http://localhost:3001/books/<%= book.book_id %>">
            <div class="book-div">
            <img src="<%= book.image %>" class="book-image">
            <h3 class="book-title"><%= book.title %></h3>
            <% author.forEach(author => { %>
                <% if (book.author_id === author.author_id) { %>
                <p class="book-details"><b><%= author.name %></b></p>
        <%}%>
        <% }) %>
                <% genre.forEach(genre => { %>
                    <% if (book.genre_id === genre.genre_id) { %>
                    <p class="book-details">Genre: <%= genre.name %></p>
            <%}%>
            <% }) %>
            <p class="book-details">Sidor: <%= book.pages %></p>
            <p class="book-details">Rating: <%= book.rating %></p>
            <p class="book-details">Utlånade: <% loan.forEach(loan => { %>
                <% if (book.book_id === loan.book_id){i++%>
                    <%}%>
                    <% }) %>
                    <%= i%>/10</p>
        </div>
        </a>
        <% }) %>
    </div>


    <script>
const searchForm = document.querySelector('#searchForm');
const searchResultDiv = document.querySelector('#search-result');


searchForm.addEventListener('submit', (e) => {
  e.preventDefault(); // prevent the form from submitting
  const keyword = document.querySelector('#keyword').value;

  const url = 'http://localhost:3001/?' + new URLSearchParams({ keyword });

  // Make the AJAX request to the server
  fetch(url, {
    method: 'GET',
    headers: { 'Accept': 'application/json' },
  })
  .catch(error => {
      console.error(error);
    });
});

    </script>
</body>
</html>
